
@{
    ViewBag.Title = "SPTheoNPP";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h3 style="Text-align:center; color:red"> XE THEO NHÀ PHÂN PHỐI</h3>
<div class="row">
    @foreach (var xe in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">
                <a href="@Url.Action("Details", "MotorbikeStore", new { id = xe.MaXe })">
                    <img alt="@xe.TenXe" src="~/Hinhsanpham/@xe.Anhbia" width="200" />
                </a>
                <div>
                    <br />
                    <h4 style="text-align:center">
                        @xe.TenXe
                    </h4>
                    <p></p>
                </div>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

